<%
const cfg = {...require("./data.json"), ...arguments?.[0]}
const {
    extraClasses,
    extraAttrs
} = cfg
%>
<%
const classes = `card ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<div
        class="<%= classes %>"
        <%- extraAttrs %>
>
    <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
             alt="images" loading="lazy">
    </div>
    <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
    </div>
</div>
