.service {


    &__subtitle {
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
        margin-bottom: 50px;
    }

    &__item {
    }

    &__more {
        .button {
            --hoverTextColor: var(--c-accent);
            --hoverIconColor: var(--c-accent);

        }
    }
}