<section class="feedback">
    <div class="container">
        <h2 class="feedback__title title">Отзывы</h2>
        <span class="feedback__subtitle subtitle"> </span>
        <ul class="feedback__list">
            <li class="feedback__item">
                <%- require("../components/feedback-card/template.ejs")() %>
            </li>
        </ul>
        <div class="feedback__more">
            <%- require("../components/button/template.ejs")() %>
        </div>
    </div>
</section>