<section class="main">
    <div class="container">
        <h1 class="main__title title"></h1>
        <h2 class="main__subtitle subtitle"></h2>
        <div class="main__description"></div>
        <div class="main__call"></div>
    </div>
</section>
