<section class="section hero">
    <div class="swiper slider-hero" id="slider-hero">
        <div class="slider-hero__wrapper swiper-wrapper">
            <div class="swiper-slide  slider-hero__slide">
                <div class="hero__content">
                    <h1 class="h1 hero__title">
                        Lorem ipsum dolor sit amet.</h1>
                    <div class="hero__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illum iusto
                        magnam molestiae numquam placeat quisquam repellat repudiandae tempora vitae.
                    </div>
                    <div class="hero__btn">
                        <%- require("../components/button/template.ejs")({
                            extraClasses: ["button--primary"],
                            extraAttrs: [`data-js-modal-open-button = '{"src": "#modal-feedback"}'`],
                            icon: "icon-arrow",
                            label: "Записаться по акции"
                        }); %>
                    </div>
                </div>
                <img src="./images/main/slide_0.jpg" alt="" class="hero__img" loading=lazy>
            </div>
            <div class="swiper-slide  slider-hero__slide">
                <div class="hero__content">
                    <h1 class="h1 hero__title">
                        Lorem ipsum dolor sit amet.</h1>
                    <div class="hero__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illum iusto
                        magnam molestiae numquam placeat quisquam repellat repudiandae tempora vitae.
                    </div>
                    <div class="hero__btn">
                        <%- require("../components/button/template.ejs")({
                            extraClasses: ["button--primary"],
                            extraAttrs: [`data-js-modal-open-button = '{"src": "#modal-feedback"}'`],
                            icon: "icon-arrow",
                            label: "Записаться по акции"
                        }); %>
                    </div>
                </div>
                <img src="./images/main/slide_0.jpg" alt="" class="hero__img" loading=lazy>
            </div>
            <div class="swiper-slide  slider-hero__slide">
                <div class="hero__content">
                    <h1 class="h1 hero__title">
                        Lorem ipsum dolor sit amet.</h1>
                    <div class="hero__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illum iusto
                        magnam molestiae numquam placeat quisquam repellat repudiandae tempora vitae.
                    </div>
                    <div class="hero__btn">
                        <%- require("../components/button/template.ejs")({
                            extraClasses: ["button--primary"],
                            extraAttrs: [`data-js-modal-open-button = '{"src": "#modal-feedback"}'`],
                            icon: "icon-arrow",
                            label: "Записаться по акции"
                        }); %>
                    </div>
                </div>
                <img src="./images/main/slide_0.jpg" alt="" class="hero__img" loading=lazy>
            </div>
        </div>
        <div class=" swiper-button-prev">
        </div>
        <div class=" swiper-button-next ">
        </div>
    </div>
</section>