<section class="section specialists">
    <div class="container">
        <h2 class="specialists__title title">Наши специалисты</h2>
        <span class="specialists__subtitle subtitle"> </span>
        <ul class="specialists__list">
            <li class="specialists__item">
                <%- require("../components/specialist-card/template.ejs")({
                    id: 1
                }) %>
            </li>
            <li class="specialists__item">
                <%- require("../components/specialist-card/template.ejs")({
                    id: 2
                }) %>
            </li>
            <li class="specialists__item">
                <%- require("../components/specialist-card/template.ejs")({
                    id: 3
                }) %>
            </li>

        </ul>
        <div class="specialists__more button__more">
            <%- require("../components/button/template.ejs")({
                extraClasses: ["button--transparent"],
                label: "Все врачи",
                icon: "icon-arrow",
                iconPosition: "right"
            }); %>
        </div>
    </div>
</section>